{% layout none %}

<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="{{ settings.color_background }}">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {% if settings.favicon != blank %}
        <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
    {% endif %}

    {%- assign formatted_initial_value = gift_card.initial_value | money_without_trailing_zeros -%}
    <title>{{ 'gift_cards.issued.title' | t: value: formatted_initial_value, shop: shop.name }}</title>

    <meta name="description" content="{{ 'gift_cards.issued.subtext' | t }}">

    {{ content_for_header }}
    {{ 'template-giftcard.css' | asset_url | stylesheet_tag }}

    <script src="{{ 'vendor/qrcode.js' | shopify_asset_url }}" defer></script>

    <style>
        :root {
            --page-width: {{ settings.page_width | divided_by: 10 }}rem;
        }

        html {
            font-size: 62.5%;
            box-sizing: border-box;
            height: 100%;
        }

        *, *::before, *::after {
            box-sizing: inherit;
        }

        body {
            margin: 0;
            min-height: 100%;
            font-size: 1.5rem;
            font-family: {{ settings.type_body_font.family }},{{ settings.type_body_font.fallback_families }};
            font-weight: {{ settings.type_body_font.weight }};
            font-style: {{ settings.type_body_font.style }};
        }

        @media (min-width: 750px) {
            body {
                font-size: 1.6rem;
            }
        }
    </style>
</head>

<body class="gradient">
<header class="gift-card__title">
    <span class="h2">{{ shop.name }}</span>
    <h1 class="gift-card__heading">{{ 'gift_cards.issued.subtext' | t }}</h1>
    <div class="gift-card__price">
        <p>{{ gift_card.initial_value | money_with_currency }}</p>
        {% if gift_card.enabled == false or gift_card.expired %}
            <p class="gift-card__label badge">{{ 'gift_cards.issued.expired' | t }}</p>
        {% endif %}
    </div>
    {% if gift_card.balance != gift_card.initial_value %}
        <p class="gift-card__label caption-large">
            {{ 'gift_cards.issued.remaining_html' | t: balance: gift_card.balance | money_with_currency }}
        </p>
    {% endif %}
</header>

<main class="gift-card">
    <div class="gift-card__image-wrapper">
        <img src="{{ 'gift-card/card.svg' | shopify_asset_url }}" alt="" class="gift-card__image" width="570"
             height="380" loading="lazy">
    </div>

    <div class="gift-card__qr-code" data-identifier="{{ gift_card.qr_identifier }}"></div>

    <div class="gift-card__information">
        <input
                type="text"
                class="gift-card__number"
                value="{{ gift_card.code | format_code }}"
                aria-label="{{ 'gift_cards.issued.gift_card_code' | t }}"
                readonly
        >
        <div class="gift-card__copy-code">
            <button class="link gift-card__copy-link">{{ 'gift_cards.issued.copy_code' | t }}</button>
            <span class="gift-card__copy-success form__message"
                  role="status">{{ 'gift_cards.issued.copy_success' | t }}</span>
        </div>

        {% if gift_card.pass_url %}
            <a href="{{ gift_card.pass_url }}" class="gift_card__apple-wallet">
                <img src="{{ 'gift-card/add-to-apple-wallet.svg' | shopify_asset_url }}" width="120" height="40"
                     alt="{{ 'gift_cards.issued.add_to_apple_wallet' | t }}" loading="lazy">
            </a>
        {% endif %}

        <div class="gift-card__buttons no-print">
            <a href="{{ shop.url }}" class="button" target="_blank"
               rel="noopener">{{ 'gift_cards.issued.shop_link' | t }}</a>
            <button class="button button--secondary"
                    onclick="window.print();">{{ 'gift_cards.issued.print_gift_card' | t }}</button>
        </div>
    </div>
</main>

<div hidden>
    <span id="a11y-new-window-message">{{ 'accessibility.link_messages.new_window' | t }}</span>
</div>

<script defer>
    document.addEventListener('DOMContentLoaded', function () {
        const qrCodeContainer = document.querySelector('.gift-card__qr-code');
        if (qrCodeContainer) {
            // noinspection JSUnresolvedFunction
            new QRCode(qrCodeContainer, {
                text: qrCodeContainer.dataset.identifier,
                width: 120,
                height: 120,
                imageAltText: "{{ 'gift_cards.issued.qr_image_alt' | t | escape }}"
            });
        }

        const copyButton = document.querySelector('.gift-card__copy-link');
        const successMessage = document.querySelector('.gift-card__copy-success');
        if (copyButton) {
            copyButton.addEventListener('click', () => {
                navigator.clipboard.writeText(document.querySelector('.gift-card__number').value).then(() => {
                    successMessage.textContent = '{{ "gift_cards.issued.copy_success" | t }}';
                });
            });
        }
    });
</script>
</body>
</html>
